.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.signinContainer {
  width: 420px;
  padding: 20px 30px;
  border: 3px solid #d9d9d9;
  line-height: 10px;
  border-radius: 15px;
}
.form {
  margin-top: 20px;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  line-height: 22px;
  margin-top: 15px;
}

.signin {
  font-size: 40px;
  font-weight: 400;
}
.inputlabel {
  font-weight: 700;
  font-size: 14px;
}
.inputBox {
  border: 2px solid #b6b6b6;
  height: 37px;
  border-radius: 5px;
  padding-inline: 20px;
}

.continueBtn {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background-color: #2e0052;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

.privacyPolicy {
  line-height: 18px;
  padding: 20px 0px;
}

.privacyPolicy p {
  font-weight: 10;
  font-size: 14px;
}

.continueMessage {
  line-height: 15px;
  font-weight: 5;
  margin-top: 30px;
  font-size: 12px;
}

.userExists {
  color: red;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 499px) {
  .signin {
    font-size: 30px;
    font-weight: 400;
  }
}
