.brandLogo {
  margin: 50px;
}

.confetiCardContainer {
  display: flex;

  justify-content: center;
  line-height: 40px;
  height: 100%;
}
.confetiCard {
  border: 3px solid #e3e3e3;
  width: 500px;
  height: 300px;
  display: flex;
  box-shadow: 14px 16px 23px 2px #0000001c;

  flex-direction: column;
}
.confetiImg {
  text-align: center;
}
.confetiImg img {
  height: 110px;
}

.successfulMsg {
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}

.confEmail {
  text-align: center;
  color: #969696;
}

.goHome {
  text-align: center;
}
.goHome .homeButton {
  border: none;
  text-align: center;
  padding: 10px;
  background-color: #2e0052;
  border-radius: 5px;
  color: white;
  font-size: 20px;
}
@media only screen and (max-width: 500px) and (min-width: 300px) {
  .confetiCardContainer {
    display: flex;
    padding: 20px;
    justify-content: center;
    line-height: 30px;
    height: 100%;
  }
  .confetiCard {
    border: 3px solid #e3e3e3;
    width: 500px;
    height: 300px;

    display: flex;
    box-shadow: 14px 16px 23px 2px #0000001c;

    flex-direction: column;
  }
  .confetiImg {
    text-align: center;
  }
  .confetiImg img {
    height: 110px;
  }

  .successfulMsg {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }

  .confEmail {
    text-align: center;
    color: #969696;
  }

  .goHome {
    text-align: center;
  }
  .goHome .homeButton {
    border: none;
    text-align: center;
    padding: 10px;
    background-color: #2e0052;
    border-radius: 5px;
    color: white;
    font-size: 15px;
  }
}
